APP_NAME=DocChat API
APP_ENV=development
APP_PORT=8000

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=docchat
POSTGRES_USER=docchat
POSTGRES_PASSWORD=docchat

OPENAI_API_KEY=your_openai_api_key_here
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# future toggles
CHUNK_SIZE=900
CHUNK_OVERLAP=150
TOP_K=5
